

.header-title{
    height: 50px;
    color: black;
    text-align: center;
    font-family: 'Arial';
    margin:0px;

    padding: 20px;
    /* border: 1px solid black; */
}


.dropdown-container {
    width: 1250px;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid orange; */
}

.dropdown-menu {
    width: 300px;
    height: 100%;
}

.main-graph .js-plotly-plot{
    max-width: 100%;
    /* border: 1px solid black; */
    padding: 0;
}


.additional-graph .js-plotly-plot{
    max-height: 300px;
    /* border: 1px solid black; */
    padding: 0;
}

.main-container {
    border: 1px solid lightgreen;
    display: flex;
}

.left-container {
    /* border: 1px solid lightblue; */
    width: 80%;
}

.right-container {
    /* border: 1px solid lightcoral; */
    width: 20%;
}   

.actions-title{
    color: black;
    text-align: center;
    font-family: 'Arial';
}